* {
  box-sizing: border-box;
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.problem-container {
  padding-top: 120px;
}

.problem-header {
  position: absolute;
  top: 50px;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.problem-number {
  font-size: 2rem;
  font-weight: bold;
}

.problem-category {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: var(--bs-dark);
  width: 100%;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
}

.controls button {
  width: 200px;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn-start {
  width: 200px;
  height: 50px;
}
